
    <link rel="stylesheet" href="./css/style.css" type="text/css" media="all">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
   <div class="main">
    <h1>Welcome</h1> <br>
   </div>
</body>
</html>
